<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Capstone team 15 - Eye can do it</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!--부트스트랩 시작-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Bootstrap파일 위치 설정 -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!--부트스트랩 끝-->

	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<!-- <script src="js/app.js"></script> -->
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />
	</noscript>

	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	<!-- add by CHY -->
	<!-- <script type="text/javascript">
function confirmEvent(){
if (confirm("상품을 추가하시겠습니까?") == true){
	var offsetstr=$("#order").offset();
	$('html, body').animate({scrollTop : offsetstr.top}, 1);
  }
else{ return;}
}

</script> -->
	<script>
		var myWindow;

		function test(name) {
			myWindow = window.open(
				"popup.html", '_blank', "toolbar=yes,scrollbars=no,resizable=no,top=80,left=500,width=600,height=600"
			);
			myWindow.onload = function() {
				myWindow.drink.innerText = name;
			};
		}
	</script>
</head>

<body>

	<!-- Wrapper -->
	<div class="wrapper style1">


		<!-- Header -->
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="index.html">Eye can do it</a></h1>
				<span class="tag">by Kookmin Univercity SW</span>
			</div>
			<nav id="nav">
				<ul>
					<li class="active"><a href="index.html">Homepage</a></li>
				</ul>
			</nav>
		</div>

		<!-- Extra -->

		<div id="extra">
			<div class="container-fluid">
				<div class="row">
					<!-- 2(종류)단길이의 첫번째 열 -->
					<!-- Banner -->
					<div class="col-md-2">
						<div id="banner" class="container">
							<a href="index.html" class="button medium">I<br />c<br />e<br />d</a><br /><br />
							<a href="index_ice.html" class="button medium">H<br />o<br />t</a><br /><br />
							<a href="index_juice.html" class="button medium">J<br />u<br />i<br />c<br />e</a>
						</div>
					</div>
					<!-- 7(메뉴)단길이의 첫번째 열 -->
					<div class="col-md-7">
						<div class="jumbotron">
							<div class="container">
								<table class="table">
									<tbody id="menu_list">
										<tr>
											<p>
												이미지를 클릭하여 주문도 가능합니다
											</p>
											<!--line1-->
											<td>
												<div class="box"><a href="#" class="image featured"><img src="images/americano(Ice).PNG" alt="americano" class=""></a>
													<p data-product-id="menu">Americano<br>3500원</p>
													<button onclick="cart()" class="button fit medium">장바구니</a>
												</div>
											</td>
											<td>
												<div class="box"><a href="#" class="image featured"><img src="images/cappuccino(Ice).PNG" alt=""></a>
													<p id=menu data-product-id="menu">Cappuccino<br>3700원</p>
													<a onclick="cart()" class="button medium">장바구니</a>
												</div>
											</td>
											<td>
												<div class="box"> <a href="#" class="image featured"><img src="images/cafeLatte(Ice).PNG" alt=""></a>
													<p id=menu data-product-id="menu">CafeLatte<br>3600원</p>
													<a onclick="cart()" class="button fit">장바구니</a>
												</div>
											</td>
										</tr>
										<tr>
											<!--line2-->
											<td>
												<div class="box"> <a href="#" class="image featured"><img src="images/vanilaLatte(Ice).PNG" alt=""></a>
													<p id=menu data-product-id="menu">Vanila latte<br>3500원</p>
													<a onclick="cart()" class="button">장바구니</a>
												</div>
											</td>
											<td>
												<div class="box"> <a href="#" class="image featured"><img src="images/caramel(Ice).PNG" alt=""></a>
													<p id=menu data-product-id="menu">caramel<br>3500원</p>
													<a onclick="cart()" class="button">장바구니</a>
												</div>
											</td>
											<td>
												<div class="box"> <a href="#" class="image featured"><img src="images/cafemocha(Ice).PNG" alt=""></a>
													<p id=menu data-product-id="menu">Cafe mocha<br>3500원</p>
													<a onclick="cart()" class="button">장바구니</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--장바구니-->
					<div class="col-md-3">
						<script>
							menu_list.addEventListener("click", (e) => {
								if (e.target.nodeName == "BUTTON") {
									e.target.onclick = test(e.target.innerText);
								}
							});
						</script>
						<br><input type="text" id="count">
					</div>
				</div>
			</div>


			<div class="container small">
				<div class="row no-md-2">
					<section class="4u"> <a href="#" class="image featured"><img src="images/americano(Ice).PNG" alt=""></a>
						<div class="box">
							<p id=menu data-product-id="menu">Americano<br>3500원</p>
							<a onclick="cart()" class="button">장바구니</a>
						</div>
					</section>
				</div>
			</div>


		</div>
		<br><br>
	</div>

	<!-- Footer -->
	<div id="footer" class="wrapper style2">
		<div class="container">
			<section>
				<header class="major">
					<h2>주문내역</h2>
					<span class="byline">주문내역을 확인해주세요 !</span>
				</header>
				<!-- ---------------------------------------- -->
				<table>
					<colgroup>
						<col width=5%>
						<col width=20%>
						<col width=10%>
						<col width=10%>
						<col width=10%>
						<col width=10%>
						<!-- 번호 상품명 가격 수량 총금액 주문관리(삭제)  -->
					</colgroup>
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">상품명(옵션)</th>
							<th scope="col">가격</th>
							<th scope="col">수량</th>
							<th scope="col">총 금액</th>
							<th scope="col">주문관리(삭제)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
					</tbody>


				</table>


				<br /><br /><br />
				<!-- ---------------------------------------- -->
				<div class="row half">
					<div class="12u">
						<ul class="actions">
							<li>
								<input type="submit" value="주문하기" class="button alt" onclick="complete()" />
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design: <a href="http://templated.co">MININ HAN</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="https://github.com/kookmin-sw/2019-cap1-2019_15" class="fa fa-github"><span>Github</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>
