<html>
<head>
<script>
var myWindow;
function test(name){
	myWindow = window.open("popup.html",'_blank',"toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
	myWindow.onload = function(){ myWindow.drink.innerText = name; };
}
</script>
</head>
<body>
<div id="menu_list">
<button>americano</button>
<button>espresso</button>
<button>cafe latte</button>
</div>
<script>
	menu_list.addEventListener("click",(e)=>{
		if(e.target.nodeName == "BUTTON"){
			e.target.onclick = test(e.target.innerText);
		}
	});
</script>
<br><input type="text" id="count">
</body>
</html>
