<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Capstone team 15 - Eye can do it</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/app.js"></script>
		<!-- Latest compiled and minified CSS
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		jQuery library
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		Latest compiled JavaScript
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>

		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->


	<!-- add by CHY -->
	
	<script>
		var ProductList = document.getElementById("ProductList");
		var myWindow;

		function test(name) {
			myWindow = window.open(
				"popup.html", '_blank', "toolbar=no,scrollbars=no,resizable=yes,left=300,width=650,height=800"
			);
			myWindow.onload = function() {
				myWindow.drink.innerText = name;
			};
		}
	</script>
</head>
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">


				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html">Eye can do it</a></h1>
							<span class="tag">by Kookmin Univercity SW</span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="index_iced.html">Homepage</a></li>
							</ul>
						</nav>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>Choose drink</p>
							<a href="index_iced.html" class="button medium">Iced</a>   <a href="index_hot.html" class="button medium">Hot</a>   <a href="index_juice.html" class="button medium">beverage</a>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div  id="menu_list" class="container">
							<div class="row no-collapse-1">

								<section class="4u"> <a class="image featured"><img src="images/americano(Ice).PNG" data-name="(ICED) Americano" ></a>
									<div class="box">
										<p id=menu data-name="(ICED) Americano">Americano<br>3500원</p>
										<a data-name="(ICED) Americano" class="button">장바구니</a>
									</div>
								</section>
								<!-- 아메리카노 -->
								<section class="4u"> <a class="image featured"><img src="images/cappuccino(Ice).PNG" data-name="(ICED) Cappuccino"></a>
									<div class="box">
										<p id=menu data-name="(ICED) Cappuccino">Cappuccino<br>3700원</p>
										<a data-name="(ICED) Cappuccino"class="button">장바구니</a>
									</div>
								</section>
								<!--카푸치노 -->
								<section class="4u"> <a class="image featured"><img src="images/cafeLatte(Ice).PNG" data-name="(ICED) CafeLatte"></a>
									<div class="box">
										<p id=menu data-name="(ICED) Cappuccino">CafeLatte<br>3600원</p>
										<a data-name="(ICED) Cappuccino" class="button">장바구니</a>
									</div>
								</section>
								<!--카페라때-->
							</div>

							<div class="row no-collapse-1">
								<section class="4u"> <a class="image featured"><img src="images/vanilaLatte(Ice).PNG" data-name="(ICED) Vanila Latte"></a>
									<div class="box">
										<p id=menu data-name="(ICED) Vanila Latte">Vanila Latte<br>3500원</p>
										<a data-name="(ICED) Vanila Latte" class="button">장바구니</a>
									</div>
								</section>
								<!--바닐라라때 -->
								<section class="4u"> <a class="image featured"><img src="images/caramel(Ice).PNG" data-name="(ICED) Caramel"></a>
									<div class="box">
										<p id=menu data-name="(ICED) Caramel">Caramel<br>3500원</p>
										<a data-name="(ICED) Caramel" class="button">장바구니</a>
									</div>
								</section>
								<!--카라멜마끼야토 -->
								<section class="4u"> <a class="image featured"><img src="images/cafemocha(Ice).PNG" data-name="(ICED) Cafe Mocha"></a>
									<div class="box">
										<p id=menu data-name="(ICED) Cafe Mocha">Cafe Mocha<br>3500원</p>
										<a data-name="(ICED) Cafe Mocha" class="button">장바구니</a>
									</div>
								</section>
								<!--카페모카-->

							</div>
						</div>
					</div>

					<script>

menu_list.addEventListener("click", (e) => {
var dataname = e.target.getAttribute("data-name");
if (e.target.nodeName == "SECTION" || "DIV" || "P" || "A" || "BUTTON") {

e.target.onclick = test(dataname);
}

});
</script>


		<br><br>
	</div>

<hr>

	<!-- Footer -->
	<div id="footer" class="wrapper style2">
		<div class="container">
			<section>
				<header class="major">
					<h2>주문내역</h2>
					<span class="byline">주문내역을 확인해주세요 !</span>
				</header>
				<!-- ---------------------------------------- -->
				<table>
	<thead>
		<th>상품명</th>
		<th>사이즈</th>
		<th>샷추가</th>
		<th>수량</th>
		
	</thead>
	<tbody id="ProductList"></tbody>



</table>	
<button class="button fit" id="del">삭제하기</button>
<button class="button fit" >주문하기</button>
				</div>
				</div>
			</div>			

		</div>
		
	</div>
<script>
function delete_row() {
var ProductList = document.getElementById("ProductList");
if (ProductList.rows.length < 1) return;
ProductList.deleteRow(ProductList.rows.length-1);

}


del.addEventListener("click", (e) => {
if (e.target.nodeName == "BUTTON") {

e.target.onclick = delete_row();
}

});
</script>




						<br/><br/><br/>
						<!-- ---------------------------------------- -->
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>Design: <a href="http://templated.co">MININ HAN</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
					<ul class="icons">
						<li><a href="https://github.com/kookmin-sw/2019-cap1-2019_15" class="fa fa-github"><span>Github</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
