<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Capstone team 15 - Eye can do it</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<script src="js/app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		jQuery library
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		Latest compiled JavaScript
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />
	</noscript>

	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

	<style>
		#border:hover {
			border: 5px solid #6b6b6b;
			;
		}
	</style>
	<!-- add by CHY(START) -->
	<!-- 팝업창 띄우기 -->
	<script>
		var ProductList = document.getElementById("ProductList");
		var myWindow;

		function test(name) {
			var popupX = (window.screen.width / 2) - (1400 / 2);
			var popupY = (window.screen.height / 2) - (2000 /2);
			myWindow = window.open(
				"popup.html", '_blank', "toolbar=no, left="+popupX+",top=200, scrollbars=yes, width=1400,height=2000"
			);
			myWindow.onload = function() {
				myWindow.drink.innerText = name;
			};
		}

		var list1 = [{
				name: "Americano",
				price: 2500,
				type: "HC"
			},
			{
				name: "Cappuccino",
				price: 2800,
				type: "HC"
			},
			{
				name: "CafeLatte",
				price: 2700,
				type: "HC"
			},

		]
		var list2 = [{
				name: "Vanila Latte",
				price: 3000,
				type: "HC"
			},
			{
				name: "Caramel",
				price: 2700,
				type: "HC"
			},
			{
				name: "Cafe Mocha",
				price: 2900,
				type: "HC"
			},
		]
		var menu1 = {
			hot: [],
			ice: []
		};
		var menu2 = {
			hot: [],
			ice: []
		};
		list1.forEach((e) => {
			if (e.type.indexOf("H") != -1) {
				menu1.hot.push(e);
			}
			if (e.type.indexOf("C") != -1) {
				menu1.ice.push(e);
			}
		});
		list2.forEach((e) => {
			if (e.type.indexOf("H") != -1) {
				menu2.hot.push(e);
			}
			if (e.type.indexOf("C") != -1) {
				menu2.ice.push(e);
			}
		});

		function show(type) {
			prac1.innerHTML = "";
			menu1[type].forEach((e) => {
				var mType;
				var el = document.createElement("section");

				if (type == "hot") {
					mType = "(HOT)";
				}
				if (type == "ice") {
					mType = "(ICED)";
				}
				el.setAttribute("class", "4u");

				el.innerHTML += '<div id="border" data-name="' + mType + ' ' + e.name + '"><a class="image featured"><img src="images/' + mType + ' ' + e.name + '.PNG" data-name="' + mType + ' ' + e.name + '"></a><div class="box" data-name="' + mType +
					' ' + e.name + '"><p style="font-size:2.5em;" id="menu" data-name="' + mType + ' ' + e.name + '">' + e.name + '<br>' + e.price + '원</p><a data-name="' + mType + ' ' + e.name + '" class="button mid_large">장바구니</a></div></div>';

				prac1.appendChild(el);


			});
			prac2.innerHTML = "";
			menu2[type].forEach((e) => {
				var mType;
				var el = document.createElement("section");

				if (type == "hot") {
					mType = "(HOT)";
				}
				if (type == "ice") {
					mType = "(ICED)";
				}
				el.setAttribute("class", "4u");

				el.innerHTML += '<div id="border" data-name="' + mType + ' ' + e.name + '"><a class="image featured"><img src="images/' + mType + ' ' + e.name + '.PNG" data-name="' + mType + ' ' + e.name + '"></a><div class="box" data-name="' + mType +
					' ' + e.name + '"><p style="font-size:2.5em;" id="menu" data-name="' + mType + ' ' + e.name + '">' + e.name + '<br>' + e.price + '원</p><a data-name="' + mType + ' ' + e.name + '" class="button mid_large">장바구니</a></div><div>';

				prac2.appendChild(el);


			});
		}
		$(document).ready(function() {
			// Add smooth scrolling to all links
			$("a").on('click', function(event) {

				// Make sure this.hash has a value before overriding default behavior
				if (this.hash !== "") {
					// Prevent default anchor click behavior
					event.preventDefault();

					// Store hash
					var hash = this.hash;

					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function() {

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				} // End if
			});
		});
	</script>
	<!-- add by CHY(END) -->

</head>

<body onload="show('ice');">

	<!-- Wrapper -->
	<div class="wrapper style1">


		<!-- Header -->
		<div id="header" id="check" class="skel-panels-fixed">
			<div id="logo">
				<h1 style="font-size : 2.8em"><a href="index_total.html">Eye can do it</a></h1>
				<span class="tag">by Kookmin Univercity SW</span>
			</div>
			<nav id="nav">
				<ul>
					<li class="active"><a href="main.html">Homepage</a></li>
				</ul>
			</nav>
		</div>

		<!-- Banner -->
		<div id="banner" class="container">
			<section>
				<p style="font-size : 4.3em;">사진을 선택해도 주문이 가능합니다!</p>
				<a onclick="show('ice');" class="button xlarge">Iced</a>　<a onclick="show('hot');" class="button xlarge">Hot</a>　<a class="button large" href="#checkcart" style="padding: 2.6em 4em;">장바구니 확인</a>
			</section>
		</div>
		<!-- Extra -->
		<div id="extra">
			<div id="menu_list" class="container">
				<div id="prac1" class="row no-collapse-1">
				</div>
				<div id="prac2" class="row no-collapse-1">
				</div>
			</div>
		</div>
		<!-- add by CHY(START) -->
		<!-- 메뉴영역 클릭시 팝업창 띄우기-->
		<script>
			menu_list.addEventListener("click", (e) => {
				var dataname = e.target.getAttribute("data-name");
				if (e.target.nodeName == "DIV" || "P" || "A") {

					e.target.onclick = test(dataname);
				}

			});
		</script>
		<!-- add by CHY(END) -->

		<br><br>
	</div>

	<!-- Footer -->
	<div id="footer" class="wrapper style2">
		<div id="checkcart" class="container">
			<section>
				<header class="major">
					<h1 style="font-Size:3em">주문내역</h1>
					<span class="byline">주문내역을 확인해주세요 !</span>
				</header>
				<!-- ---------------------------------------- -->
				<table>
					<thead>
						<th>상품명</th>
						<th>사이즈</th>
						<th>샷추가</th>
						<th>수량</th>

					</thead>
					<tbody id="ProductList"></tbody>



				</table>
				<br /><br /><br /><br /><br /><br /><br /><br />
				<button class="button2 large" id="del">삭제하기</button> &nbsp; &nbsp;
				<a class="button2 large" id="check" href="#check"  style="color:white; text-decoration:none;">  ▲  </a>&nbsp; &nbsp;
				<button class="button2 large"><a href="complete.html" style="color:white; text-decoration:none;">주문완료</a></button>
		</div>
	</div>

	<!-- add by CHY(START) -->
	<!-- 주문 정보 아래줄부터 지우기 -->
	<script>
		function delete_row() {
			var ProductList = document.getElementById("ProductList");
			if (ProductList.rows.length < 1) return;
			ProductList.deleteRow(ProductList.rows.length - 1);

		}


		del.addEventListener("click", (e) => {
			if (e.target.nodeName == "BUTTON") {

				e.target.onclick = delete_row();
			}

		});
		check.addEventListener("click", (e) => {
			if (e.target.nodeName == "A") {
				self.location.hash='check';

				
			}

		});
	</script>
	<!-- add by CHY(END) -->



	<br /><br /><br />
	<!-- ---------------------------------------- -->

	</section>
	</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Contribute: <a href="http://templated.co">MININ HAN, CHY</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="https://github.com/kookmin-sw/2019-cap1-2019_15" class="fa fa-github"><span>Github</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>
